<div class="modal-header">
    <button type="button" class="close" aria-label="Fechar" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="modalLabel">Auto Cadastro</h4>
</div>
<div class="modal-body text-center">
    <div>
        <p>Sua conta foi cadastrada com Sucesso!</p>
        <p>Em breve receberá em seu e-mail uma confirmação com seu login e senha.</p>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Fechar</button>
</div>
